*{
    margin: 0;
    padding: 0;
}


.navbar{
    
    display: flex;
    justify-content: space-between;
    
    background-color: cadetblue;
    align-items: center;
    padding: 20px;
    margin-top: 15;
}
.navbar img{
    border-radius: 100px;
}

.menu{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    margin-right: 50;
    
}
.menu a{
    text-decoration: none;
   
}
.Home{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding: 100;
    align-items: center;
    margin-top: 50;
}
    .img{
        padding-right: 10;
    }
 .About{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding: 100;
    align-items: center;
    margin-top: 50;
}
    .img{
        padding-right: 10;
    }

    .Skills{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding: 100;
    align-items: center;
    margin-top: 50;
}
    .img{
        padding-right: 10;
    }
    
    .Project{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding: 100;
    align-items: center;
    margin-top: 50;
}
    .img{
        padding-right: 10;
    }
 .Contect{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding: 100;
    align-items: center;
    margin-top: 50;
}
    .img{
        padding-right: 10;
    }

    .hero{
        background-image: url(.//jamia.jpg);
        background-size: cover;
        background-position: center;
        margin-top: 50px;
        color: white;
        display: flex; 
        height: 500;
        align-items: center;
        padding-left: 200px;
        padding: 50;
        background-repeat: no-repeat;
         background-color: rgba(0, 0, 0, 0.5); /* optional */
  background-blend-mode: darken;        /* optional */
}
 
        
        
    }

    .content{
        max-width: 500px;
   
       
    }
 